<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="col-xl-2 col-md-6 mb-4" th:fragment="card(title, text, host, class)">
		<div class="card rounded shadow h-100" th:classappend="${class}">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div
							class="text-xs font-weight-bold text-info text-uppercase mb-1 pull-right" th:text="${host}"></div>
						<div
							class="text-xs font-weight-bold text-primary text-uppercase mb-1" th:text="${title}"></div>
						<div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${text}"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>