<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head(links,scripts)">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta th:each="meta : ${metaData}" th:data-var="${meta.key}" th:data-content="${meta.value}">
	<!-- JQuery -->
	<script type="text/javascript" th:src="@{/js/vendor/jquery/jquery.min.js}"></script>
	<!-- Bootstrap -->
	<script type="text/javascript" th:src="@{/js/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<!--  Chart.js -->
	<script type="text/javascript" th:src="@{/js/vendor/chart.js/Chart.js}"></script>
	
	<script type="text/javascript" th:src="@{/js/core.js}"></script>
	
	<!-- DataTables -->
	<link rel="stylesheet" th:href="@{/js/vendor/datatables/dataTables.bootstrap4.min.css}">
	<!-- SB-ADMIN-->
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">	
	<link th:href="@{/js/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
	<!-- Custom styles for this template-->
	<link th:href="@{/sb-admin/css/sb-admin-2.min.css}" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/default.css}">
	
	<th:block th:if="${securityEnabled}">
		<meta th:name="_csrf" th:content="${_csrf.token}" />
		<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
	</th:block>
	<title th:text="${pageTitle}"></title>
	
	<th:block th:replace="${links}" />
	<th:block th:replace="${scripts}" />
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 10px;" th:fragment="header">
	<a class="navbar-brand" th:href="@{/}">[[#{Appname}]]</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#narBarDef" aria-controls="narBarDef" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="narBarDef">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" th:href="@{/}">[[#{WelcomePage}]]</a>
			</li>
			<li class="nav-item" sec:authorize-url="@{/status}">
				<a class="nav-link" th:href="@{/status}">[]</a>
			</li>
			<li class="nav-item dropdown" sec:authorize-url="@{/logs}">
				<a class="nav-link dropdown-toggle" data-hover="dropdown" th:href="@{/logs}" aria-haspopup="true" aria-expanded="false">
					[[#{Menu.component.logs}]]
					<span class="caret" th:if="${not #lists.isEmpty(hosts)}"></span>
				</a>
					<div class="dropdown-menu" th:if="${not #lists.isEmpty(hosts)}">
						<a class="dropdown-item" th:each="host : ${hosts}" th:text="${host}" th:href="@{|/logs?host=${host}|}"></a>
					</div>
			</li>
			<li class="nav-item" th:if="${notification}">
				<a class="nav-link" th:href="@{/notification}">
					Notification 
				<span class="badge btn-danger" th:text="${nbrNotif}"></span></a></li>
		</ul> 
		<div th:if="${securityEnabled}">
			<ul class="nav navbar-nav ml-auto">
				<li sec:authorize="!isAuthenticated()" class="nav-item">
					<a th:href="@{/login-page}" class="nav-link">Login</a>
					<a type="button" class="nav-link" data-toggle="modal" data-target="#confirmation" sec:authorize="isAuthenticated()">
						[[#{Menu.user.logout}]]
					</a>
				</li>
				
				<form id="logoutForm" th:action="@{/logout}" method="POST">
					<div th:replace="fragments/modal :: modal('logout','Are you sure ?',~{:: #logout})">
						<button id="logout" type="submit" class="btn btn-secondary">[[#{Menu.user.logout}]]</button>
					</div>
				</form>
			</ul>
		</div>
	</div>
</nav>

<div th:fragment="error" th:if="${error != null}" th:text="${error}"
	class="alert alert-danger noDisplay"></div>
	
	<th:block th:fragment="footer">
		<script th:src="@{/js/vendor/jquery-easing/jquery.easing.min.js}"></script>
        <script th:src="@{/sb-admin/js/sb-admin-2.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/vendor/datatables/jquery.dataTables.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
    </th:block>
</html>