<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="textModal(id, title, body, button)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog" 
	aria-hidden="true" >
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title" th:text="${title}"></h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body" th:text="${body}"></div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">[[#{Logout.modal.cancel}]]</button>
						<th:block th:replace="${button}"></th:block>
					</div>

				</div>
			</div>
	</div>
	
	
	<div th:fragment="htmlModal(id, title, body, action)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog" 
	aria-hidden="true" >
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title" th:text="${title}"></h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body" th:replace="${body}"></div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">[[#{Logout.modal.cancel}]]</button>
						<th:block th:replace="${action}"></th:block>
					</div>

				</div>
			</div>
	</div>
</body>
</html>