<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Insert title here</title>
</head>
<body>

	<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment="menu">
	      <!-- Sidebar - Brand -->
	      <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
	<!--         <div class="sidebar-brand-icon rotate-n-15"> -->
	<!--           <i class="fas fa-laugh-wink"></i> -->
	<!--         </div> -->
	        <div class="sidebar-brand-text mx-3">[[#{Appname}]]<br/><span th:text="'V'+${applicationVersion}"></span></div>
	      </a>
	      <!-- Divider -->
	      <hr class="sidebar-divider my-0">
	
	      <!-- Nav Item - Dashboard -->
	      <li class="nav-item">
	        <a class="nav-link" th:href="@{/}">
	          <i class="fas fa-fw fa-tachometer-alt"></i>
	          <span>[[#{Menu.dashboard}]]</span></a>
	      </li>
	      <th:block sec:authorize-url="@{/logs}">
		      <!-- Divider -->
		      <hr class="sidebar-divider">
		      <!-- Heading -->
		      <div class="sidebar-heading" >
		        [[#{Menu.component}]]
		      </div>
		      <!-- Nav Item - Pages Collapse Menu -->
		      <li class="nav-item">
		        <a class="nav-link" th:href="@{/logs}" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		          <i class="fas fa-fw fa-clipboard-list"></i>
		          <span>[[#{Menu.component.logs}]]</span>
		        </a>
		        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" th:if="${not #lists.isEmpty(hosts)}">
		          <div class="bg-white py-2 collapse-inner rounded">
		            <h6 class="collapse-header">[[#{Menu.component.logs.hosts}]]</h6>
		            <a class="collapse-item" th:each="host : ${hosts}" th:text="${host}" th:href="@{|/logs?host=${host}|}"></a>
	<!-- 		            <a class="collapse-item" href="buttons.html">Buttons</a> -->
	<!-- 		            <a class="collapse-item active" href="cards.html">Cards</a> -->
		          </div>
		        </div>
		      </li>
		      <!-- Nav Item - Utilities Collapse Menu -->
		      <li class="nav-item">
		        <a class="nav-link" th:href="@{/status}">
		          <i class="fas fa-fw fa-cog"></i>
		          <span>[[#{Menu.component.services}]]</span></a>
		      </li>
	      </th:block>
	      <th:block sec:authorize-url="@{/config}">
		      <!-- Divider -->
		      <hr class="sidebar-divider">
		      <!-- Heading -->
		      <div class="sidebar-heading">
		        [[#{Menu.admin}]]
		      </div>
		      <li class="nav-item">
		        <a class="nav-link" th:href="@{/config}">
		          <i class="fas fa-fw fa-cog"></i>
		          <span>[[#{Menu.admin.config}]]</span></a>
		      </li>
		      <li class="nav-item" th:if="${applicationLogsEnabled}">
		        <a class="nav-link" th:href="@{/applicationLog}">
		          <i class="fas fa-fw fa-clipboard-list"></i>
		          <span>[[#{Menu.admin.applogs}]]</span></a>
		      </li>
	      </th:block>
	      <!-- Divider -->
	      <hr class="sidebar-divider">
	      <!-- Heading -->
	      <div class="sidebar-heading">
	        [[#{Menu.user}]]
	      </div>
	      <li class="nav-item">
	        <div th:if="${securityEnabled}">
				<ul class="nav navbar-nav ml-auto">
					<li sec:authorize="!isAuthenticated()" class="nav-item">
						<a th:href="@{/login-page}" class="nav-link">
							<i class="fas fa-sign-in-alt"></i>
							<span>[[#{Menu.user.login}]]</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" data-toggle="modal" data-target="#confirmation" sec:authorize="isAuthenticated()">
							<i class="fas fa-sign-out-alt"></i>
							<span>[[#{Menu.user.logout}]]</span>
						</a>
					</li>
					<form id="logoutForm" th:action="@{/logout}" method="POST">
						<div th:replace="fragments/modal :: textModal('confirmation',#{Logout}, #{Logout.modal.confirmation},~{:: #logout})">
							<button id="logout" type="submit" class="btn btn-secondary">[[#{Logout}]]</button>
						</div>
					</form>
				</ul>
			</div>
	      </li>
	
	      <!-- Divider -->
	      <hr class="sidebar-divider d-none d-md-block">
	
	      <!-- Sidebar Toggler (Sidebar) -->
	      <div class="text-center d-none d-md-inline">
	        <button class="rounded-circle border-0" id="sidebarToggle"></button>
	      </div>
	
	</ul>
</body>
</html>