<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<script th:src="@{/sb-admin/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- Core plugin JavaScript-->
<script th:src="@{/sb-admin/vendor/jquery-easing/jquery.easing.min.js}"></script>
<!-- Custom scripts for all pages-->
<script th:src="@{/sb-admin/js/sb-admin-2.min.js}"></script>
<!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" th:fragment="topBar">

          <!-- Sidebar Toggle (Topbar) -->
			<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
			  <i class="fa fa-bars"></i>
			</button>

			<div id="userMessage" sec:authorize="isAuthenticated()">
				<span>[[#{WelcomePage}]] </span>
				<span class="mr-2 d-none d-lg-inline text-gray-600 small" sec:authentication="name"></span>
			</div>
          <!-- Topbar Navbar -->
			<ul class="navbar-nav ml-auto">
			
			  <!-- Nav Item - Search Dropdown (Visible Only XS) -->
			 <li class="nav-item dropdown no-arrow d-sm-none">
			   <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			     <i class="fas fa-search fa-fw"></i>
			   </a>
			   <!-- Dropdown - Messages -->
			   <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
			     <form class="form-inline mr-auto w-100 navbar-search">
			       <div class="input-group">
			         <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
			         <div class="input-group-append">
			           <button class="btn btn-primary" type="button">
			             <i class="fas fa-search fa-sm"></i>
			           </button>
			         </div>
			       </div>
			     </form>
			   </div>
			 </li>
			
			 <!-- Nav Item - Alerts -->
			 <li class="nav-item dropdown no-arrow mx-1" th:if="${notification}">
			   <a class="nav-link " th:href="@{/notification}" id="alertsDropdown" role="button" >
			     <i class="fas fa-bell fa-fw"></i>
			     <span class="badge badge-danger badge-counter" th:text="${nbrNotif < 99} ? ${nbrNotif} : '99+'"></span>
			   </a>
			  </li>
			</ul>

        </nav>
        <!-- End of Topbar -->
</body>
</html>