@charset "UTF-8";

body {
	/* 	background-image: url("/img/background.gif"); */
	background-color: #3d3d3d;
	font-family: roboto, "Open Sans", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
}

/* header */
.bg-dark {
	background-color: #2068a6;
	/* 	background: -webkit-gradient(linear, left top, left bottom, from(#297AB8), */
	/* 		to(#15528F)); */
}

/* body */
/* .container { */
/* 	margin-top: 5%; */
/* 	background-color: #3d3d3d; */
/* 	padding: 2%; */
/* 	border-radius: 10px; */
/* } */

.container-fluid {
	padding: 1%
}

.AutoRefresh {
	float : right;
	right: 0px;
	color: #fff;
}

#title {
	margin-left: 15%;
}
/* Tableau de la liste d'astuces */
#Table {
	max-width: 600px;
	margin: 0 auto;
	color: #000040;
}

/* message aucune astuce a afficher */
.noDisplay {
	text-align: center;
}

.pageTitle {
	color: #fff;
}

thead tr td {
	padding: 50%;
}


#Table th, td {
	white-space: nowrap;
	min-width: 50px;
}

#Table tbody tr {
	height: 20px;
}

#Table_info, #Table_filter label, #Table_length label {
	color: white;
}

/* .pagination { */
/* 	background: #3d3d3d; */
/* 	color: #3d3d3d; */
/* } */

.dropdown:hover .dropdown-menu {
	display: block;
}

.btnSick {
	background-color: #2672B6;
    *background-color: #2672B6;
	line-height: 16px;
	text-align: center;
	cursor: pointer;
	color: #FFFFFF;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	box-sizing: border-box;
	background-image: -ms-linear-gradient(top, #297AB8, #15528F);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#297AB8), to(#15528F));
    background-image: -webkit-linear-gradient(top, #297AB8, #15528F);
    background-image: -o-linear-gradient(top, #297AB8, #15528F);
    background-image: linear-gradient(top, #297AB8, #15528F);
    background-image: -moz-linear-gradient(top, #297AB8, #15528F);
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #111111;
	border: 1px solid #111111;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#297AB8', endColorstr='#15528F', GradientType=0);
}
.btnSick:hover {
    text-decoration: none;
    background: #2672B6 0 -150px;
    transition: background-position 0.0s linear;
}

.pull-right {
    float: right !important;
}

.btn {
	cursor: pointer;
}

.btn-white {
	color : white !important;
}
