<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/PageTemplate :: pageLayout(~{:: #content})">

<th:block id="content">
	<div th:insert="fragments/header :: error"></div>
		<div class="container-fluid">
			<a id="log_update_toggle" class="btn btnSick btn-white" data-state="active" th:title="#{AppLogs.pause.tooltip}">
	            <i class='fa fa-pause'></i>
	            <span>[[#{AppLogs.pause}]]</span>
	        </a>
			<div class="card">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">[[#{AppLogs}]]</h6>
				</div>
				<div class="card-body">
					<div th:if="${error == null}">
						<pre th:text="${logs}">
						</pre>
					</div>
				</div>
			</div>
		</div>
</th:block>
</html>