<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/PageTemplate :: pageLayout(~{:: #content})">
</head>
<body>

<!-- 	<div th:replace="fragments/header :: header"></div> -->
<th:block id="content">
	<div th:insert="fragments/header :: error"></div>
		<div class="container-fluid">
			<div class="card">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">[[#{Config}]]</h6>
				</div>
				<div class="card-body">
					<div th:if="${error == null}">
						<div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    		<div class="row table-responsive">
								<table class="table table-hover table-bordered table-striped table-sm"
									id="Table">
									<thead class="thead">
										<tr>
											<th id="name" scope="col" class="th-sm">[[#{Config.property}]]</th>
											<th id="host" scope="col" class="th-sm">[[#{Config.value}]]</th>
											<th id="host" scope="col" class="th-sm">[[#{Config.edit}]]</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="prop,i : ${props}">
											<td th:text="${prop.key}"></td>
											<td th:text="${prop.value}"></td>
											<td>
												<button class="btn btn-circle btn-sm" data-toggle="modal" th:data-target="'#mod'+${i.index}">
													<i class="fas fa-edit"></i>
												</button>
												<a th:href="@{/config/delete}+'?propertyName='+${prop.key}">
													<i class="fas fa-trash-alt" style="color:red;"></i>
												</a>
											</td>
											<form method="POST" th:action="@{/config}">
												<div th:replace="fragments/modal :: htmlModal('mod'+${i.index},${prop.key},~{:: #inputs}, ~{:: #save})">
												<th:block id ="inputs">
												<div class="form-group col-md-9">
													<input type="hidden" name="propertyName" th:value="${prop.key}">
													<input type="text" class="form-control" name="propertyValue" th:value="${prop.value}">
												</div>
												</th:block>
												<button id="save" type="submit" class="btn btn-secondary">[[#{Config.save}]]</button>
												</div>	
											</form>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div>
						<button class="btn btn-outline-dark btn-sm pull-right" data-toggle="modal" data-target="#restoreModal">
							[[#{Config.restore}]]
						</button>
						<a class="btn btn-outline-dark btn-sm pull-right" th:href="@{/config/backup}">
							[[#{Config.backup}]]
						</a>
						<button class="btn btnSick" data-toggle="modal" data-target="#addProperty">
							[[#{Config.add}]]
						</button>
						<form method="POST" th:action="@{/config}">
							<div th:replace="fragments/modal :: htmlModal('addProperty',#{Config.addProperty},~{:: #addInputs}, ~{:: #addSave})">
								<th:block id ="addInputs">
								<div class="form-group col-md-6">
									<label for="addPropertyKey">[[#{Config.key}]]</label>
									<input id="addPropertyKey" class="form-control" type="text" name="propertyName" >
									<label for="addPropertyValue">[[#{Config.value}]]</label>
									<input id="addPropertyValue" class="form-control" type="text" name="propertyValue" >
								</div>
								</th:block>
								<button id="addSave" type="submit" class="btn btn-secondary">[[#{Config.save}]]</button>
							</div>	
						</form>
						<form method="POST" th:action="@{/config/restore}" enctype="multipart/form-data">
							<div th:replace="fragments/modal :: htmlModal('restoreModal', #{Config.restoreBackup},~{:: #restoreInputs}, ~{:: #restoreSubmit})">
								<th:block id ="restoreInputs">
								<div class="form-group col">
									<label for="backup_file" class="custom-file-label">[[#{Config.backupFile}]]</label>
									<input id="backup_file" class="custom-file-input" type="file" name="backup_file" >
								</div>
								</th:block>
								<button id="restoreSubmit" type="submit" class="btn btn-secondary">[[#{Config.restore}]]</button>
							</div>	
						</form>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>