<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: head(~{},~{})">
</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="container-fluid">
		<h2 th:text="${pageTitle}" class="pageTitle"></h2>
		<div th:insert="fragments/header :: error"></div>
		<div class="container" th:if="${error == null}">[[#{Error.404}]]</div>
	</div>
</body>
</html>