<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/PageTemplate :: pageLayout(~{:: #content})">
</head>
<body>
	<th:block id="content">
		<div th:replace="fragments/header :: error"></div>
		
		<div class="row">
			<th:block th:each="appEntry : ${apps}">
				<div th:replace="fragments/card :: card(${appEntry.key.app},${appEntry.value},${appEntry.key.host},${appEntry.value == 'OK'? 'border-left-success' : 'border-left-danger'})">
				</div>
			</th:block>
		</div>
		
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="card-body">
						<div class="chart-container">
							<canvas id="logStats"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	
</body>
</html>