<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head(~{::link},~{})">
	<link rel="stylesheet"  th:href="@{/css/login.css}">
</head>

<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
        <div th:if="${param.error}" class="alert fade show alert-dismissible " th:classappend="${param.error[0] == 'logout'}? alert-info : alert-danger" role="alert">   
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
        	<span aria-hidden="true">&times;</span>
        </button>
        <span th:if="${param.error[0] != 'logout'}">
			Invalid userName or password try again.
		</span>
		<span th:if="${param.error[0] == 'logout'}">
			you have been succesfully disconnected
		</span>
    	</div>
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <form class="form-signin" method="POST" th:action="@{/login-page}">
              <div class="form-label-group">
                <input type="text" id="inputEmail" name="jsusername" class="form-control" placeholder="Username" required autofocus>
                <label for="inputEmail">Username</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" name="jspassword" class="form-control" placeholder="Password" required>
                <label for="inputPassword">Password</label>
              </div>

              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1" name="jsrememberme">
                <label class="custom-control-label" for="customCheck1">Remember me</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
              <hr class="my-4">
<!--               <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button> -->
<!--               <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>