<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head(~{},~{})">

</head>

<body class="bg-gradient-primary">

  <div class="container">
  <div th:if="${param.error}" class="alert fade show alert-dismissible " th:classappend="${param.error[0] == 'logout'}? alert-info : alert-danger" role="alert">   
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
        	<span aria-hidden="true">&times;</span>
        </button>
        <span th:if="${param.error[0] != 'logout'}" >
			[[#{Login.error}]]
		</span>
		<span th:if="${param.error[0] == 'logout'}">
			[[#{Login.success}]]
		</span>
    </div>
    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">[[#{Login}]]</h1>
                  </div>
                  <form class="user" method="POST" th:action="@{/login-page}">
                    <div class="form-group">
                      <input type="text" name="jsusername" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" th:placeholder="#{Login.username}" autofocus>
                    </div>
                    <div class="form-group">
                      <input type="password" name="jspassword" class="form-control form-control-user" id="exampleInputPassword" th:placeholder="#{Login.password}">
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input type="checkbox" name="jsrememberme" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">[[#{Login.rememberme}]]</label>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                      [[#{Login.btn}]]
                    </button>
                    <hr>
                  </form>
                  <a type="submit" th:href="@{/}" class="btn btn-secondary btn-user btn-block">
                      [[#{Login.cancel}]]
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
<th:bock th:replace="fragments/header :: footer"></th:bock>
</body>

</html>
