<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/PageTemplate :: pageLayout(~{:: #content})">
<body>

<th:block id="content">
	<div th:insert="fragments/header :: error"></div>
	
		<div class="container-fluid">
			<div class="card">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">[[#{Logs}]]</h6>
				</div>
				<div class="card-body">
					<div th:if="${error == null}">
						<div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
			                <div class="d-flex flex-row form-row">
			                	<div class="form-group col-auto">
			                		<label for="pageSizeSelect" class="col-xs-2">[[#{Logs.lineNumber}]]</label>
                    				<select class="form-control" id="pageSizeSelect" th:if="${pager != null}">
                       					<option th:each="pageSize : ${pager.pageSizes}" th:text="${pageSize}"
                            			th:value="${pageSize}"
                            			th:selected="${param.limit} != null ? ${pageSize} == ${param.limit[0]}: false"></option>
                    				</select>
                    			</div>
                   				<div class="form-group col-auto ">
                   					<label for="levelFilter">[[#{Logs.level}]]</label>
                    				<select class="form-control" id="levelFilter" th:if="${pager != null}">
                       					<option th:each="level : ${levels}" th:text="${level}"
                            			th:value="${level}"
                            			th:selected="${param.level} != null ? ${level} == ${param.level[0]}: false"></option>
                    				</select>
                    			</div>
                    			<div class="form-group col-auto">
                    				<label for="appFilter">[[#{Logs.application}]]</label>
                    				<select class="form-control" id="appFilter" th:if="${pager != null}">
                       					<option th:each="appName : ${appNames}" th:text="${appName}"
                            			th:value="${appName}"
                            			th:selected="${param.app} != null ? ${appName} == ${param.app[0]}: false"></option>
                    				</select>
                    			</div>
                    			<div id="clearForm" class="p-2 ml-auto">
									<form method="POST" th:action="@{/clear}">
										<input type="hidden" name ="host" th:value="${host}">
										<input type="submit" th:value="#{Logs.clear}" class="btn btn-default btnSick">
									</form>
								</div>
                    		</div>
                    		<div class="row table-responsive">
								<table class="table table-hover table-bordered table-striped table-sm"
									id="Table">
									<thead class="thead">
										<tr>
											<th id="name" scope="col" class="th-sm">[[#{Logs.date}]]</th>
											<th id="host" scope="col" class="th-sm">[[#{Logs.host}]]</th>
											<th id="status" scope="col" class="th-sm">[[#{Logs.level}]]</th>
											<th id="output" scope="col" class="th-sm">[[#{Logs.facility}]]</th>
											<th id="output" scope="col" class="th-sm">[[#{Logs.app}]]</th>
											<th id="err" scope="col">[[#{Logs.procId}]]</th>
											<th id="refresh" scope="col">[[#{Logs.message}]]</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="event : ${events}"
											th:class="${@cssClassProcessor.getCssClassForLevel(event.severity)}">
											<td th:text="${event.timeStamp}"></td>
											<td th:text="${event.host}"></td>
											<td th:text="${event.severity}"></td>
											<td th:text="${event.facility.label}"></td>
											<td th:text="${event.appName} ?: 'N/A' "></td>
											<td th:text="${event.procId} ?: 'N/A'"></td>
											<td th:text="${event.message} ?: 'N/A'"></td>
										</tr>
									</tbody>
								</table>
								<nav aria-label="Page navigation" id="pager" th:if="${pager != null && !(pager.totalPages <= 1)}"
								th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)}">
									<ul class="pagination justify-content-center">
								    	<li class="page-item">
								      		<a class="page-link" th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('page', 1).toUriString()}" aria-label="Previous">
								        		<span aria-hidden="true">&laquo;</span>
								      		</a>
								    	</li>
								    	<li class="page-item" th:if="${pager.showPointsBefore()}"><a class="page-link">...</a></li>
								    	<li class="page-item" th:each="nbr : ${#numbers.sequence(pager.startPage, pager.endPage)}" 
								    	th:classappend="${nbr == pager.currentPage}? 'active' : ''">
								    		<a class="page-link" th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('page', nbr).toUriString()}" th:text="${nbr}"></a>
								    	</li>
								    	<li class="page-item" th:if="${pager.showPointsAfter()}"><a class="page-link">...</a></li>
								    	<li class="page-item">
								      		<a class="page-link" th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('page', pager.totalPages).toUriString()}" aria-label="Next">
								        		<span aria-hidden="true">&raquo;</span>
								      		</a>
								    	</li>
								  	</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function() {
        	var host = /*[[${host}]]*/ "";
        	if(host == null){
        		host = "";
        	}
	    	changePageAndSize(host);
	    	filterApp(host);
	    	filterLevel(host);
		});
		function changePageAndSize(host) {
    		$('#pageSizeSelect').change(function(evt) {
        		window.location.replace("?host=" + host + "&limit=" + this.value + "&page=1");
    		});
		}
		function filterApp(host) {
    		$('#appFilter').change(function(evt) {
    			var limit = $('#pageSizeSelect').val();
    			var level = $('#levelFilter').val();
    			window.location.replace("?host=" + host + "&limit=" + limit + "&page=1&app=" + this.value + "&level=" + level);
    		});
		}
   		function filterLevel(host) {
       		$('#levelFilter').change(function(evt) {
       			var limit = $('#pageSizeSelect').val();
       			var app = $('#appFilter').val();
       			window.location.replace("?host=" + host + "&limit=" + limit + "&page=1&app=" + app + "&level=" + this.value);
       		});
   		}
        /*]]>*/
    </script>
	</th:block>
    
</body>
</html>