<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/PageTemplate :: pageLayout(~{:: #content})">
<body>
	<th:block id="content">
		<div class="container-fluid" id="StatusContent">
			<div class="card">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">[[#{Services}]]</h6>
				</div>
				<div class="card-body">
					<div th:insert="fragments/header :: error"></div>
					<div th:if="${error == null}" class="table-responsive">
						<div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
			                <div class="row">
								<table class="table table-hover table-bordered" id="Table">
									<thead class="thead">
										<tr>
											<th id="name" scope="col">[[#{Services.name}]]</th>
											<th id="host" scope="col">[[#{Services.host}]]</th>
											<th id="status" scope="col">[[#{Services.exitcode}]]</th>
											<th id="output" scope="col">[[#{Services.status}]]</th>
											<th id="refresh" scope="col">[[#{Services.refresh}]]</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="appEntry : ${map}"
											th:class="${appEntry.value.exitCode == 0}? 'table-success' : 'table-danger'">
											<td th:text="${appEntry.key.app}"></td>
											<td th:text="${appEntry.key.host}"></td>
											<td th:text="${appEntry.value.exitCode}"></td>
											<td th:text="${appEntry.value.status} ? ${appEntry.value.status} : ${appEntry.value.outputErr}"></td>
											<td><button class="refreshable btn btn-circle btn-sm"><i class="fas fa-redo"></i></button></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>